@color-primary: rgba(53, 30, 255,1);

@warning: #faad14;
@correct: #52c41a;
@normal: @color-primary;
@error: #f5222d;

// 透明灰色
// 通过透明度设置的灰色
@gray-level-1:rgba(0, 0, 0, .9);
@gray-level-2:rgba(0, 0, 0, .8);
@gray-level-3:rgba(0, 0, 0, .7);
@gray-level-4:rgba(0, 0, 0, .6);
@gray-level-5:rgba(0, 0, 0, .5);
@gray-level-6:rgba(0, 0, 0, .4);
@gray-level-7:rgba(0, 0, 0, .3);
@gray-level-8:rgba(0, 0, 0, .2);
@gray-level-9:rgba(0, 0, 0, .1);
@gray-level-10:rgba(0, 0, 0, .05);

// 预乘 Alpha 通道得到的灰色
@gray-premultiply-level-1: multiply(#ffffff, @gray-level-1);
@gray-premultiply-level-2: multiply(#ffffff, @gray-level-2);
@gray-premultiply-level-3: multiply(#ffffff, @gray-level-3);
@gray-premultiply-level-4: multiply(#ffffff, @gray-level-4);
@gray-premultiply-level-5: multiply(#ffffff, @gray-level-5);
@gray-premultiply-level-6: multiply(#ffffff, @gray-level-6);
@gray-premultiply-level-7: multiply(#ffffff, @gray-level-7);
@gray-premultiply-level-8: multiply(#ffffff, @gray-level-8);
@gray-premultiply-level-9: multiply(#ffffff, @gray-level-9);
@gray-premultiply-level-10: multiply(#ffffff, @gray-level-10);