@factor: 4;

// 单独指定 top 方向上的间距
.gap-margin-top(@level: 1) {
  margin-top: @level * @factor * 1px;
}
// 单独指定 left 方向上的间距
.gap-margin-left(@level: 1) {
    margin-left: @level * @factor * 1px;
}
// 单独指定 right 方向上的间距
.gap-margin-right(@level: 1) {
    margin-right: @level * @factor * 1px;
}
// 单独指定 bottom 方向上的间距
.gap-margin-bottom(@level: 1) {
    margin-bottom: @level * @factor * 1px;
}

// 单独指定 top 方向上的间距
.gap-padding-top(@level: 1) {
    padding-top: @level * @factor * 1px;
}
// 单独指定 left 方向上的间距
.gap-padding-left(@level: 1) {
    padding-left: @level * @factor * 1px;
}
// 单独指定 right 方向上的间距
.gap-padding-right(@level: 1) {
    padding-right: @level * @factor * 1px;
}
// 单独指定 bottom 方向上的间距
.gap-padding-bottom(@level: 1) {
    padding-bottom: @level * @factor * 1px;
}


// 一次指定四个方向上的间距
.gap-padding-all(@level: 1) {
    .gap-padding-top(@level);
    .gap-padding-left(@level);
    .gap-padding-right(@level);
    .gap-padding-bottom(@level);
}

// .gap-all 的别名
.gap-padding(@level: 1){
    .gap-padding-all(@level);
}

// 按 left top right bottom 四个方向依次指定间距
.gap-padding-ltrb(@left: 1, @top: 1, @right: 1, @bottom: 1) {
    .gap-padding-top(@top);
    .gap-padding-left(@left);
    .gap-padding-right(@right);
    .gap-padding-bottom(@bottom);
}

// 指定左右间距
.gap-padding-vertical(@level: 1) {
    .gap-padding-left(@level);
    .gap-padding-right(@level);
}

// 指定上下间距
.gap-padding-horizontal(@level: 1) {
    .gap-padding-top(@level);
    .gap-padding-bottom(@level);
}


// 一次指定四个方向上的间距
.gap-margin-all(@level: 1) {
    .gap-margin-top(@level);
    .gap-margin-left(@level);
    .gap-margin-right(@level);
    .gap-margin-bottom(@level);
}

// .gap-all 的别名
.gap-margin(@level: 1){
    .gap-margin-all(@level);
}

// 按 left top right bottom 四个方向依次指定间距
.gap-margin-ltrb(@left: 1, @top: 1, @right: 1, @bottom: 1) {
    .gap-margin-top(@top);
    .gap-margin-left(@left);
    .gap-margin-right(@right);
    .gap-margin-bottom(@bottom);
}

// 指定左右间距
.gap-margin-vertical(@level: 1) {
    .gap-margin-left(@level);
    .gap-margin-right(@level);
}

// 指定上下间距
.gap-margin-horizontal(@level: 1) {
    .gap-margin-top(@level);
    .gap-margin-bottom(@level);
}

