.title {
    color: black;
    background-color: transparent;
    .subtitle {
        opacity: .5;
        color: black;
    }
}

.level-1 {
    font-size: 40px;
    font-weight: bold;
    .subtitle {
        font-size: 26px;
        font-weight: normal;
    }
}
.level-2 {
    font-size: 32px;
    font-weight: bold;
    .subtitle {
        font-size: 20px;
        font-weight: normal;
    }
}
.level-3 {
    font-size: 28px;
    font-weight: bold;
    .subtitle {
        font-size: 16px;
        font-weight: normal;
    }
}
.level-4 {
    font-size: 20px;
    font-weight: bold;
    .subtitle {
        display: none;
        font-weight: normal;
    }
}
.level-5 {
    font-size: 16px;
    font-weight: bold;
    .subtitle {
        display: none;
        font-weight: normal;
    }
}

.level-6 {
    font-size: 14px;
    font-weight: bold;
    .subtitle {
        display: none;
        font-weight: normal;
    }
}
